
:root {
    --primary-color: #33CC33;
    --secondary-color: #FF5733;
    --text-color: #9900CC;
    --background-color: #f5f5f5;
    --white-color: #ffffff;
    --product-border-color: #ebebeb;
}

* {
    /*    box-sizing: border-box;*/
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--background-color);
    padding: 0 20px
}

.form {
    background: var(--white-color);
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

    .form div {
        margin-bottom: 15px;
    }

label {
    color: var(--text-color);
    font-weight: bold;
}



/*input[type="text"],
input[type="password"] {
    width: 100%;
    height: 35px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}*/

.url-link {
    display: block;
    margin-top: 15px;
    font-size: 14px;
}

    .url-link a {
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
        transition: color 0.3s ease;
    }

        .url-link a:hover {
            color: #0056b3;
        }


.styled-dropdown {
    width: 100%;
/*    max-width: 300px;*/
/*    height: 5px;*/
    padding: 5px 10px;
    margin-bottom:10px;
/*    font-size: 16px;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 5px;*/
/*    background-color: #f9f9f9;*/
/*    color: #333;*/
    appearance: none;
    outline: none;
    transition: border-color 0.3s ease;
}

    .styled-dropdown:hover {
        border-color: #6c63ff;
    }

    .styled-dropdown:focus {
        border-color: #6c63ff;
        box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
    }

    .styled-dropdown option {
        padding: 10px;
    }


/* product card */
.product-card {
    border-radius: 0px;
    border-color: var(--product-border-color);
    /*    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    height: calc(100% - 1rem);
    margin-bottom: 1rem;
    overflow: hidden;
    background-color: var(--white-color);
    
}

.offer-badge {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px;
    background: var(--secondary-color);
    color: var(--white-color);
    border-bottom-right-radius: 10px;
}


.product-card .card-title {
    font-size: 16px;    
    font-weight: 500;
    color:black;
}   

.product-card .sn-card-img {
    height: 200px;
    display: flex;
}

    .product-card .sn-card-img img {
        object-fit: scale-down;
        background: var(--secondary-color);
    }

.product-card .card-text {
    opacity: 0.6;
}

    /* Hover Effects */
    .product-card:hover {
/*        transform: translateY(-5px);*/
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    }


/*prodct detail*/
.text-bold {
    font-weight: 600;
}

text-color {
    color: #0093c4;
}

/* Main image - left */
.main-img img {
    width: 100%;
}

/* Preview images */
.previews img {
    width: 100%;
    height: 140px;
}

.main-description .category {
    text-transform: uppercase;
    color: #0093c4;
}

.main-description .product-title {
    font-size: 30px;
}

.old-price-discount {
    font-weight: 600;
}

.new-price {
    font-size: 2rem;
}

.details-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    color: #757575;
}

.buttons .block {
    margin-right: 5px;
}

.quantity input {
    border-radius: 0;
    height: 40px;
}

.custom-btn {
    text-transform: capitalize;
    background-color: var(--secondary-color);
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 0;
}

    .custom-btn:hover {
        background-color: var(--secondary-color);
        color: white !important;
    }

/* image style */
.rounded-rectangle {
    border-radius: 15px; 
    width: 100%; 
    max-width: 300px; 
    height: auto; 
}

/*  zoom effect*/
.zoom-container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.zoomable-image {
    width: 100%; 
    transition: transform 0.25s ease; 
}


.zoom-container:hover .zoomable-image {
    transform: scale(1.2); 
}



/* Custom Footer Styling */
footer {
    background-color: #343a40; /* Dark background */
    color: #ffffff; /* White text */
}

    footer h5 {
        font-weight: bold;
        margin-bottom: 15px;
    }

    footer a {
        color: #ffffff;
        text-decoration: none;
    }

        footer a:hover {
            text-decoration: underline;
        }

    footer .list-unstyled li {
        margin-bottom: 10px;
    }



.categories-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between; 
    padding: 20px 0;
}

.category-card {
    flex: 1 1 calc(25% - 20px); 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #fff;
}

    .category-card:hover {
/*        transform: scale(1.05);*/
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

.category-image {
    width: 100%;
    height: auto;
    max-height: 150px;
    border-radius: 8px;
    margin-bottom: 10px;
    object-fit: cover;
}

.category-title {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin: 0;
}

/* Responsive Design */
@media (max-width: 992px) {
    .category-card {
        flex: 1 1 calc(33.333% - 20px); /* 3 cards per row on medium screens */
    }
}

@media (max-width: 768px) {
    .category-card {
        flex: 1 1 calc(50% - 20px); /* 2 cards per row on small screens */
    }
}

@media (max-width: 576px) {
    .category-card {
        flex: 1 1 100%; /* Full-width cards on extra small screens */
    }
}

/*accordion-button style*/

.accordion-body {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    background-color: antiquewhite;
}

.accordion-item {
    border: none;
}

.accordion-button {
    border: none;
    box-shadow: none;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 0px;
}

    .accordion-button:focus {
        box-shadow: none;
    }

    .accordion-button:not(.collapsed) {
        background-color: var(--secondary-color);
        color: #fff;
    }

.accordion-body {
    border-top: none;
}

.custom-carousel-icon {
    background-color: black; /* Change the background color to black */
    background-size: 100%, 100%;
    border-radius: 50%; /* Optional: add a circular shape */
    width: 30px;
    height: 30px;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    /* Make preview images responsive  */
    .previews img {
        width: 100%;
        height: auto;
    }
}

