
:root {
    --primary-color: #33CC33;
    --secondary-color: #FF5733;
    --text-color: #9900CC;
    --background-color: #f5f5f5;
    --form-color: #ffffff;
    --product-border-color: #ebebeb;
    --product-body-bg: #ffffff;
}

* {
    /*    box-sizing: border-box;*/
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--background-color);
}

.form {
    background: var(--form-color);
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}

    .form div {
        margin-bottom: 15px;
    }

label {
    color: var(--text-color);
    font-weight: bold;
}

.btn-common {
    display: inline-block;
    align-content: center;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin-top: 15px;
}

.btn-register {
    color: white;
    background-color: var(--secondary-color);
}

.btn-login {
    color: white;
    background-color: var(--primary-color);
}

.btn-common:hover {
    background-color: darkgreen;
}

/*input[type="text"],
input[type="password"] {
    width: 100%;
    height: 35px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}*/

.url-link {
    display: block;
    margin-top: 15px;
    font-size: 14px;
}

    .url-link a {
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
        transition: color 0.3s ease;
    }

        .url-link a:hover {
            color: #0056b3;
        }


.styled-dropdown {
    width: 100%;
/*    max-width: 300px;*/
/*    height: 5px;*/
    padding: 5px 10px;
    margin-bottom:10px;
/*    font-size: 16px;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 5px;*/
/*    background-color: #f9f9f9;*/
/*    color: #333;*/
    appearance: none;
    outline: none;
    transition: border-color 0.3s ease;
}

    .styled-dropdown:hover {
        border-color: #6c63ff;
    }

    .styled-dropdown:focus {
        border-color: #6c63ff;
        box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
    }

    .styled-dropdown option {
        padding: 10px;
    }


/* product card */
.product-card {
    border-radius: 10px;
    border-color: var(--product-border-color);
    text-decoration: none;
    height: calc(100% - 1rem);
    margin-bottom: 1rem;
    overflow: hidden;
    background-color: var(--product-body-bg);
}

/*.offer-badge {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px   
    background: var(--sn-btn-srch);
    color: var(--sn-white);
    border-bottom-right-radius: 10px;
}
*/
.product-card .card-title {
    font-size: 16px;    
    font-weight: 500;
    color:black;
}   

.product-card .sn-card-img {
    height: 200px;
    display: flex;
}

    .product-card .sn-card-img img {
        object-fit: scale-down;
        background: var(--secondary-color);
    }

.product-card .card-text {
    opacity: 0.6;
}

/*prodct detail*/
.text-bold {
    font-weight: 600;
}

text-color {
    color: #0093c4;
}

/* Main image - left */
.main-img img {
    width: 100%;
}

/* Preview images */
.previews img {
    width: 100%;
    height: 140px;
}

.main-description .category {
    text-transform: uppercase;
    color: #0093c4;
}

.main-description .product-title {
    font-size: 30px;
}

.old-price-discount {
    font-weight: 600;
}

.new-price {
    font-size: 2rem;
}

.details-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    color: #757575;
}

.buttons .block {
    margin-right: 5px;
}

.quantity input {
    border-radius: 0;
    height: 40px;
}

.custom-btn {
    text-transform: capitalize;
    background-color: var(--secondary-color);
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 0;
}

    .custom-btn:hover {
        background-color: var(--secondary-color);
        color: white !important;
    }

.zoom-container {
    overflow: hidden;
    position: relative;
    width: 100%; /* Makes sure it takes full width of the container */
}

.zoomable-image {
    width: 100%; /* Image takes full width of the container */
    transition: transform 0.25s ease; /* Smooth transition for zooming */
}

/* Add zoom effect */
.zoom-container:hover .zoomable-image {
    transform: scale(1.2); /* Scale the image to 120% on hover */
}


/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    /* Make preview images responsive  */
    .previews img {
        width: 100%;
        height: auto;
    }
}

