
:root {
/*    --primary-color: #33CC33;
    --secondary-color: #FF5733;
    --text-color: #9900CC;
    --background-color: #f5f5f5;
    --form-color: #ffffff;*/
}


* {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    /*font-family: Papyrus, system-ui, -apple-system, sans-serif;*/
    
}

body {
/*    background-color: var(--background-color);*/
}


input,
select,
textarea {
/*    max-width: 280px;*/
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}
